html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    font-size: 40px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 5% 5% 5% 5%;
}

.orange-rectangle {
    background-color: #FF7F39;
    padding: 2.4% 3.6% 2.4% 3.6%;
}

.saira-stencil-one-regular {
    font-family: "Saira Stencil One", sans-serif;
    font-weight: 400;
    font-size: 0.5em;
    font-style: normal;
    margin: 0;
    color: #FFFFFF;
}

.action-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button {
    border-radius: 24px;
    padding: 8px 9px 8px 9px;
    border: 1px solid #FFFFFF;
    min-width: 80px;
}

.register-button {
    color: #FFFFFF;
    background-color: #FF7F39;
    margin-right: 10px;
}

.login-button {
    color: #FF7F39;
    background-color: #FFFFFF;
    padding: 8px 9px 8px 9px;
}


.below-navbar {
    background-color: #FF7F39;
    border-radius: 8px;
    padding: 10px;
    font-size: 0.5em;
}

.contrate-text {
    font-family: "Poppins";
    color: #FFFFFF;
    font-weight: 700;
}

.services-text {
    font-size: 0.4em;
    font-family: "Poppins";
    font-weight: 700;
}

.freelance-card {
    background-color: #FFF4EE;
    padding: 12px;
    border-radius: 8px;
    max-height: 328px;
    margin: 2% 0% 1% 0%;
    display: flex;
    flex-direction: row;
    font-size: 20px;
}

.freelance-card img {
    height: 90%;
    max-width: 29%;
}

.freelance-description {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    width: 100%;
    justify-content: space-between;
}

.freelance-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;

}

.freelance-person {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 0.7em;
    margin-top: 10px;
}


.freelance-description p {
    margin: 0px;
}

.freelance-value {
    text-align: end;
}