html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.orange-rectangle {
    background-color: #FF7F39;
    padding: 1% 2.5% 1% 2.5%;
}

.saira-stencil-one-regular {
    font-family: "Saira Stencil One", sans-serif;
    font-weight: 400;
    font-size: 40px;
    font-style: normal;
    margin: 0;
    color: #FFFFFF;
}

.login-icon a {
    color: #FFF;
}